<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nikunjsocialconnectmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-sg1-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NikunjSocialConnectManager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NikunjSocialConnectManager</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:d94aipwad8.database.windows.net,1433;Initial Catalog=NikunjSocialConnectManager;User ID=NikunjSocialConnectManager@d94aipwad8;Password=decos@123" Name="Data Source=tcp:d94aipwad8.database.windows.net,1433;Initial Catalog=NikunjSocialConnectManager;User Id=NikunjSocialConnectManager@d94aipwad8;Password=decos@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NikunjSocialConnectManager.Models.ApplicationDbContext, NikunjSocialConnectManager" MigrationConfiguration="NikunjSocialContactManager.Migrations.Configuration, NikunjSocialConnectManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:d94aipwad8.database.windows.net,1433;Initial Catalog=NikunjSocialConnectManager;User Id=NikunjSocialConnectManager@d94aipwad8;Password=decos@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>